body {
background:	#F0FFFF url(images/bg.jpg) repeat-x;
}
#wrap {
 width:700px;
 margin:0px auto 15px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
}
/* Header */
#header {
 height:242PX;
 margin:0px auto 15px auto;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 color: #F5F5DC;  
  }
